/*/.project
/*/.settings
/*/*/.project
/*/*/.settings
/*/*/target
/*/*/.classpath
/*/*/.project
/*/*/.settings
/*/*/logs
/*/*/target
/*/*/.classpath
/*/*/.project
/*/*/.settings
/*/*/logs
/*/*/target
/*/*/.classpath
/.metadata/
/.idea
*.iml
