<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restaurant.mapper.OrderOptionListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.restaurant.entity.OrderOptionList">
        <result column="main_order_code" property="mainOrderCode" />
        <result column="order_list_id" property="orderListId" />
        <result column="option_name" property="optionName" />
        <result column="option_price" property="optionPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        main_order_code, order_list_id, option_name, option_price
    </sql>

</mapper>
